<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/globals.css">
    <title>Opret ønskeliste</title>
</head>

<header>
    <nav>
        <ul>
            <li class="navbar-right" style="float: left"><a href="index.html">Ønskelisten</a></li>
            <li class="navbar-right"><a href="sign-in.html">Log ind</a></li>
            <li class="navbar-right" ><a href="join.html">Tilmeld dig</a></li>
        </ul>
    </nav>
</header>

<body>
<div id="contents">
    <div id="sidebar">
    </div>
    <div id="mainContents">
        <div class="center-div">
            <div class="flex-center">
                <h1 style="margin: 0">Opret ønskeliste</h1>
                <h3>Navn på ønskeliste:</h3>
                <textarea rows="1"></textarea> <br>
                <h3>Beskrivelse af ønskeliste (valgfri):</h3>
                <textarea rows="10"></textarea>
                <br>
                <a href="#" class="button" style="width: 20% ">Opret ønskeliste</a>
            </div>
        </div>
    </div>
    <div id="sidebar2">
    </div>
</div>
</body>
</html>