<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/globals.css">
    <title>Ønskelisten</title>
    <script src="https://kit.fontawesome.com/accc8a4097.js" crossorigin="anonymous"></script>
</head>

<header>
    <nav>
        <ul>
            <li class="navbar-right" style="float: left"><a href="index.html">Ønskelisten</a></li>
            <li class="navbar-right"><a href="sign-in.html">Log ind</a></li>
            <li class="navbar-right" ><a href="join.html">Tilmeld dig</a></li>
        </ul>
    </nav>
</header>

<body>
<div id="contents">
    <div id="sidebar">
    </div>
    <div id="mainContents">
        <div class="center-div">
            <h1>Velkommen til Ønskelisten</h1>
            <p>Denne hjemmeside fungerer som en digital ønskeliste. Hvis du logger ind, kan du oprette din helt egen ønskeliste.</p>
            <a href="sign-in.html" class="button">Kom igang her!</a>

            <div class="img-container">
                <img class="wish" src="images/wish.png">
            </div>
        </div>
    </div>
    <div id="sidebar2">
    </div>
</div>
</body>

</html>